.content {
  color: $dark;
  font-size: 20px;
  padding: 40px 20px;
  text-align: center;
}
.content .title {
  color: $blue;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.content .sub-title {
  color: $blue;
  font-weight: 400;
  margin-bottom: 10px;
}

.about {
  margin-bottom: 40px;
}

.image-wrapper {
  color: $dark;
  padding: 10px;
  display: block;
  border: 1px solid $grey;
  background-color: $white;
  text-align: center;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
}

.image-wrapper .image-caption {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
