.content {
  color: $dark;
  font-size: 20px;
  padding: 40px 20px;
  text-align: center;
}
.content .title {
  color: $blue;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.content .sub-title {
  color: $blue;
  font-weight: 400;
  margin-bottom: 10px;
}

.about {
  margin-bottom: 40px;
}
