.header {
  padding: 40px 20px;
  position: relative;
  text-align: center;
  background-color: $accent;
}
.header .avatar .image {
  width: 180px;
  height: 180px;
  border: 5px solid $light;
  border-radius: 50%;
}

.header .avatar .image:hover {
  border: 5px solid rgba(0,0,0,0.2);
}

.header .name {
  color: $light;
  font-size: 40px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $heading-font;
}

.header .links a {
  margin: 10px;
  padding: 10px;
  color: $light;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  border: 2px solid $light;
  text-transform: uppercase;
}
.header .links a:hover {
  background-color: rgba(0,0,0,0.2);
}
