---
layout: main
title: Recent travel
categories: travel
tags: [travel, backpacking]
image:
  thumb: travel/Japan-DanielSnowboard-th.jpg
excerpt: A short simple travel blog of notes, photos and videos to document my travels mainly for the benefit of myself to read back on in the future but also for any interested family and friends to be able to see where I am and what I've been up to.
flightpaths:
  - SYD-SIN-LHR-DUB,
  - DUB-JFK,
  - JFK-DXB-SYD,
  - SYD-BKK-CTS,
  - CTS-NRT-SEA,
  - PDX-PHX,
  - PHX-DEN,
  - DEN-MSY,
  - MIA-IAH-AUS,
  - AUS-LAX-SAN,
  - LAX-MEX-HAV,
  - HAV-CUN,
  - MGA-RNI,
  - RNI-MGA
flights: 22
countries: 8
photos-taken: 6086
---

<div class="travel-list">
  <div class="wrapper">

    <div class="info">
      <div class="title">Recent travel</div>
      <div class="details">
        {{ page.excerpt }}
      </div>
      <div class="stats">
        {% include mapping/index_map.html %}
        <div class="title">This trip</div>
        <ul class="list">
          <li>Days away from home: <span id="dateResult"></span></li>
          <li>Countries: <span>{{ page.countries }}</span></li>
          <li>Flights: <span>{{ page.flights }}</span></li>
          <li>Photos taken: <span>{{ page.photos-taken }}</span></li>
        </ul>
      </div>
    </div>

    <div class="travels">
      {% for post in site.categories.travel %}
      <a class="travel-each" href="{{ post.url }}">
        <div class="thumb-wrapper">
          <img src="{{ site.url }}/images/{{ post.image.thumb }}" alt="{{ post.title }}"/>
        </div>
        <div class="text-wrapper">
          <div class="post-title">{{ post.title }}</div>
          <div class="post-date">{{ post.date | date_to_long_string }}</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>


<script type="text/javascript">

var _MS_PER_DAY = 1000 * 60 * 60 * 24;

function dateDiffInDays() {
  var today = new Date();
  var leftHome = new Date("2014/12/26");
  var utc1 = Date.UTC(today.getFullYear(), today.getMonth(), today.getDate());
  var utc2 = Date.UTC(leftHome.getFullYear(), leftHome.getMonth(), leftHome.getDate());

  var result = Math.floor((utc1 - utc2) / _MS_PER_DAY);
  document.getElementById("dateResult").innerHTML = result - 9; //-9 days for returning home
}

window.didLoad = dateDiffInDays();

</script>