<div class="header">
	<div class="wrapper">
		<div class="avatar">
			<a href="{{ site.url }}"><img class="image" src="{{ site.url }}/images/{{ site.owner.avatar }}"/></a>
		</div>
		<div class="name">{{ site.owner.name }}</div>
		<div class="links">
			<a href="{{ site.owner.github }}" target="_blank">GitHub</a>
			<a href="{{ site.owner.twitter }}" target="_blank">Twitter</a>
			<a href="{{ site.owner.linkedin }}" target="_blank">LinkedIn</a>
			<a href="{{ site.owner.stackexchange }}" target="_blank">StackOverflow</a>
			<a href="{{ site.url }}">Work</a>
			<a href="{{ site.url }}/travel">Travel</a>
			<a href="{{ site.url }}/tech">Tech</a>
		</div>
		</div>
	</div>
</div>
