<div class="steemit">
		<a href=https://steemit.com/@dbo target="_blank"><img src="{{ site.url }}/images/travel/steemit.png" class="logo"></a><br/>
    <a href=https://steemit.com/@dbo target="_blank"><img src="{{ site.url }}/images/travel/steem.png" class="steem-logo"></a>
	<div class="info">
    <p>I've recently discovered <a href=https://steemit.com/@dbo target="_blank">SteemIt</a>, a blogging and social networking website built on top of the Steem blockchain and will be posting additional content on travel, photography, technology there. Come say hi!</p>
	</div>
</div>
