html, body, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align:baseline;
	background:transparent;
	display: block;
}

html,body, #container {
    height: 100%;
    background-color: #faf8ed;
}

body > #container { 
	height: auto;
	min-height: 100%;
}

body {
	font-family: 'Open Sans', Calibri, Arial, sans-serif;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}

#emphasis {
	color: #389abe;
}

/* Header content */

.page-header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #389abe;
	top: 0;
	left: 0;
	width: 100%;
	height: 350px;
	display: table;
}

.circle-image {
	border-radius: 50%;
	border: 5px solid;
	border-color: #faf8ed;
	height: 180px;
	width: 180px;
}

.profile-pic {
	text-align: center;
	margin: 0 auto;
	float: none;
	padding-top: 20px;
}

.header-content {
	text-align: center;
	padding: 10px;
}

#name-heading {
	font-family: 'Bitter', Calibri, Arial, sans-serif;
	color: #faf8ed;
	font-size: 40px;
	padding-bottom: 2px;
}

#header-links a {
	color:#faf8ed;
    border:2px solid #faf8ed;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    display:inline-block;
    text-transform: uppercase;
}

#header-links a:hover, #header-links a.selected {
    background:#146d8d;
    color:#291A03;
}

/* Main content */

.main-content {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 100px; /*footer height*/
}

.about-me p {
	color: #777070;
	max-width: 600px;
	margin: 0 auto;
}

/* Recent work */
.my-work {
		max-width: 700px;
		margin: 0 auto;
}

.my-work h2 {
	color: #389abe;
}

.my-work ul {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%;
	padding: 0;
	display: inline-table;
}

.my-work ul a {
	color: #777070;
}

.my-work li {
	min-height: 200px;
	min-width: 200px;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #FFF;
	border: 1px solid #DDD;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #DDD;
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}

.my-work li img {
	max-width: 100px;
	max-height: 100px;
	height: auto;
	margin: 0 0 5px;
}

.my-work li h3 {
	margin: 0px;
	font-size: 1em;
	text-align: center;
}

.my-work li p {
	margin: 5px 0px 2px 0px;

	font-size: .8em;
	text-align: center;
	
	color: #999;
}

.my-work ul li {
	width: 30.83%; /* 3 columns */
}

.page-footer {

	background-color: #389abe;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: table;
	clear: both;
	position: relative;
	z-index: 10;
	margin-top: -100px;
}

.footer-content {
	text-align: center;
}

.footer-content p {
	color: #faf8ed;
}

.footer-content a {
	color:#faf8ed;
	border-bottom:1px dotted #ccc
}

@media (max-width: 640px) {
	.my-work ul li {
		width: 47.5%; /* 2 columns */
	}
}

@media (max-width: 320px) {
	.main-content {
		margin-left: 10px;
		margin-right: 10px;
	}

	.my-work ul li {
		width: 80%; /* 1 column */
	}
}
