$blue:              #3BA0C3;
$dark:              #7A7A71;
$light:             #FAFAF1;

$grey:              #CCCCCC;
$white:             #FFFFFF;

$body-font:         'Lato', Helvetica, Arial, sans-serif;
$heading-font:      'Merriweather', Helvetica, Arial, sans-serif
